<% layout("/layouts/boilerplate") -%>
<div class="row">
  <div class="col-8 offset-3">
    <h3><%=listing.title%></h3>
  </div>
  <div class="card col-6 offset-3 show-card listing-card-details">
    <img
      src="<%=listing.image.url%>"
      class="card-img-top show-img"
      alt="..."
      class="show-img"
    />
    <div class="card-body">
      <p class="card-text">
        Owned by-<%= listing.owner.username%><br>
        <br>

        <%= listing.description %><br />
        &#8377; <%= listing.price %>/night<br />
        <%= listing.location %><br />
        <%= listing.country %>
      </p>
    </div>
  </div>
  <br />
<% if(currUser && listing.owner._id.equals(currUser._id)){%>
 <div class="btns">
    <a
      href="/listings/<%=listing._id%>/edit"
      class="btn btn-dark col-1 offset-3"
      >Edit</a
    >

    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-5 add-btn">Delete</button>
    </form>


<%} %>
 
  </div>


  <div class="col-8 offset-3">
    <hr />
    <% if(currUser){%>

    <h4>Leave a review</h4>
    <form
      action="/listings/<%=listing._id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
   <fieldset class="starability-slot">
  <legend>Rating</legend>

  <input type="radio" id="rate1" name="review[rating]" value="1" checked />
  <label for="rate1" title="Terrible">1 star</label>

  <input type="radio" id="rate2" name="review[rating]" value="2" />
  <label for="rate2" title="Not good">2 stars</label>

  <input type="radio" id="rate3" name="review[rating]" value="3" />
  <label for="rate3" title="Average">3 stars</label>

  <input type="radio" id="rate4" name="review[rating]" value="4" />
  <label for="rate4" title="Very good">4 stars</label>

  <input type="radio" id="rate5" name="review[rating]" value="5" />
  <label for="rate5" title="Amazing">5 stars</label>
</fieldset>

      <div>
        <label for="comment" class="form-label">Comment</label>
        <textarea
          id="comment"
          name="review[comment]"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback"> Please add some comment</div>
      </div>
      <br />
      <div>
        <button class="btn btn-dark">Submit</button>
      </div>
    </form>
    <%} %>

<h4>all reviews</h4>
<div class="row">
<% for(review of listing.reviews){%>


<div class="card col-5 mb-3 ms-3">
<div class="card-body">
    <h5 class="card-title"><%=review.author.username %></h5>
    <p class="card-text"><%=review.comment%></p>
    <p class="card-text starability-result " data-rating="<%= review.rating %>"><%=review.rating%></p> <br>


</div>
<form  class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
    <button class="btn  btn-sm btn-dark">delete</button>
</form>
</div>
<% }%>
</div>
  </div>
</div>
